@media screen and (min-width: 480px) {
    p { 
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    p { max-width: 60%;}
    
    #swap-pic { float: right;}
    
    #chart {
        max-width: 42%;
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    #hello-img { width:100%;}
    
    .image-container { padding: 20em 0 20em 0; }
    
    #pictures { max-width: 70%;}
    
    .message-box { max-width: 50%;}
    
    p { max-width: 50%; }
    
    input[type="submit"] { width: 30%; }
}
